<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Products Page</title>
	</head>
	<body>
		<h1><%= message %></h1>
		<ul>
			<% products.map((product) => { %>
			<li>
				<a href="/products/<%=product.id%>"><%= product.name %></a>
				<!-- <p>Strain: <%=product.strain_name ? product.strain_name : 'N/A' %></p>
				<p>Brand: <%=product.brand_name%></p> -->
			</li>

			<% }) %>
		</ul>
	</body>
</html>
