<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="/tailwind.css" rel="stylesheet" />
		<title>category</title>
	</head>
	<body>
		<%- include ('../partials/header.ejs') %>

		<div class="mb-8 mt-4 relative">

			<h1
				class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 text-3xl font-bold text-gray-800"
			>
			<%= category.name %>

			</h1>

		</div>
		<button
			class="inline-flex items-center text-green-600 hover:text-green-700 font-medium mb-6 transition-colors"
		>
			<a href="/categories/"><- Back to all categories</a>
		</button>

		<div class="view-buttons mb-8">
			<button class="btn-danger" data-id="<%= categoryId %>">
				Delete Category!
			</button>
			<button class="btn-secondary">
				<a href="/categories/<%= categoryId %>/edit">Edit Category</a>
			</button>
		</div>

		

		
			<% if (!products.length) { %>
			<p class="text-gray-500 mt-8 text-center">No products in this category yet.</p>
		<% } else { %>
			<table class="products-table">
			<tr class="products-table-headers">
				<!-- <th class="table-header">ID</th> -->
				<th class="table-header">Name</th>
				<th class="table-header">Strain</th>
				<th class="table-header">Brand</th>
				<th class="table-header">Category</th>
				<th class="table-header">Quantity</th>
			</tr>
			<% products.map((product) => { %>
			<tr class="product-row" data-id="<%= product.category_id %>">
				<td><a href="/packages/<%=product.id%>"><%= product.name %></a></td>
				<td><%=product.strain_name ? product.strain_name : 'N/A' %></td>
				<td><%=product.brand_name%></td>
				<td><%=product.category_name%></td>
				<td><%=product.total_quantity ? product.total_quantity : 0 %> <%=product.unit %></td>
			</tr>
			<% }) %>
		</table>
		<% } %>
		<script src="/js/deleteCategory.js"></script>
	</body>
</html>
