<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link href="/tailwind.css" rel="stylesheet" />

		<title>Products Page</title>
	</head>
	<body class="md:px-4">

		<%- include ('../partials/header.ejs') %>

		<div class="mb-8 mt-4 relative">
			<h1
				class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 text-3xl font-bold text-gray-800"
			>
				<%= message %>
			</h1>
		</div>
		<div class="main-buttons">
			<a href="/products/create-product" class="btn-primary">Add New Product</a>
		</div>

		<table class="products-table">
			<tr class="products-table-headers">
				<th class="table-header">Name</th>
				<th class="table-header">Strain</th>
				<th class="table-header">Brand</th>
				<th class="table-header">Category</th>
				<th class="table-header">Quantity</th>
				<th class="table-header">Avg Cost</th>
				<th class="table-header">Total Valuation</th>
			</tr>

			<% products.forEach((product) => { %>
			<tr class="product-row">
				<td><a href="/products/<%= product.id %>"><%= product.name %></a></td>
				<td><%= product.strain_name || 'N/A' %></td>
				<td><%= product.brand_name || 'N/A' %></td>
				<td>
				<a href="/categories/<%= product.category_id %>">
					<%= product.category_name || 'N/A' %>
				</a>
				</td>
				<td>
				<%= product.product_qty %> <%= product.unit %>
				</td>
				<td>
				$<%= Number(product.average_cost || 0).toFixed(2) %>
				</td>
				<td>
				$<%= Number(product.total_valuation || 0).toFixed(2) %>
				</td>
			</tr>
			<% }) %>
		</table>
	</body>
</html>
