<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link href="/tailwind.css" rel="stylesheet" />

		<title>Products Page</title>
	</head>
	<body>
		<div class="mb-8 mt-4 relative">
			<a href="/">
				<img
					src="/greenventory-logo.png"
					alt="Greenventory Logo"
					class="h-16 ml-8"
				/>
			</a>

			<h1
				class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 text-3xl font-bold text-gray-800"
			>
				<%= message %>
			</h1>
		</div>
		<div class="main-buttons">
			<a href="/products/create-product" class="btn-primary">Add New Product</a>
			<div class="view-buttons">
				<a href="/categories/" class="btn-primary">See Categories</a>
				<a href="/strains/" class="btn-primary">See Strains</a>
			</div>
		</div>

		<table class="products-table">
			<tr class="products-table-headers">
				<th class="table-header">Name</th>
				<th class="table-header">Strain</th>
				<th class="table-header">Brand</th>
				<th class="table-header">Category</th>
				<th class="table-header">Quantity</th>
			</tr>
			<% products.map((product) => { %>
			<tr class="product-row">
				<td><a href="/products/<%=product.id%>"><%= product.name %></a></td>
				<td><%=product.strain_name ? product.strain_name : 'N/A' %></td>
				<td><%=product.brand_name%></td>
				<td>
					<a href="/categories/<%=product.category_id%>"
						><%=product.category_name%></a
					>
				</td>
				<td><%=product.product_qty%></td>
			</tr>
			<% }) %>
		</table>
	</body>
</html>
